.Button {
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 10px;
    font-weight: 500;
    border: 1px solid #48877C;
    border-radius: 3px;
}
.Button:hover{
    border: 1px outset #17584d;
}
.Button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
.Green{
    background-color: green;
    color: white;
}
.Red {
    background-color: red;
    color: white;
}
.Blue {
    background-color: blue;
    color: white;
}