.Caption{
    background: #48877C;
    padding: 4px 8px 4px 4px;
    cursor: default;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #42655F;
    border-top: 1px solid #91C3BB;
    border-radius: 5px;
    color: white;
}

.DialogBox{
    height: 80%;
}

.Pane{
    padding: 10px;
}

.Pane ul{
    list-style-type: none;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
     column-count: 3; 
   }