.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 700px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

/* @media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
} */